table.data
{
    border: thin solid black;
    border-collapse:collapse;
    border-spacing: 0em;
    width: 100%;
}

table.data td
{
    padding: 0em;
    border: thin solid black;
}

table.invisible
{
    border: none;
    border-spacing: 0em;
}

iframe
{
    border: thin solid black;
    width: 100%;
    height: 200px;
}
